:root {
    --system: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --feher: whitesmoke;
    --fekete: black;
    --kek: blue;
    --nodeZold: #5fa04f;
    --piros: red;
    --szurke: rgb(39, 39, 39);
    --zold: green;
}
